[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "EnrichmentBrowser"]
	path = EnrichmentBrowser
	url = https://github.com/lgeistlinger/enrichmentbrowser
	shallow = true
	registered = true
